@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  min-width: 100wh;
  max-width: 100wh;
  width: 100%;
  min-height: 100%;
  
}

body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: center;
}



